<%= title "Want Watches" %>
<body id="temp">
  <h1 id="h1_temp">в разработке</h1>
  <h3 id="h3_temp">(нажми на мою фотографию на телефоне друга и перейди в мой блог)</h3>
  
  <div id="div_temp">
    <a id="pasha" href="http://www.vk.com/id1376979"></a>
    <a id="dimas" href="http://www.vk.com/d.tarasikov"></a>
  </div>
</body>